@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Techy Jobs</h1>
    <p>Your personal career progress tracker <a href="https://localhost:5001/Jobs">Click here to get started ! </a></p>
</div>
