@{
    ViewData["Title"] = "Home Page";
}
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
<style>
    .display-4 {
        font-family: 'Audiowide';
    }

    .text-center{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

    .TechyJobsLogo{
        text-align: center;
    }

    .techyJobsIntroLine{
        text-align: center;
        color: white;
        font-size:200%
    }

    techyJobsIntroLink{
        text-align:center;
        font-size:150%
    }

    a{
        color: white;
        font-size:175%;
    }

    .bg{
        background-image:url("/1080 phone.jpg");
        background-size:auto;
        background-position:center
    }
</style>
<body class="bg">
    <div class="text-center">
        <div class="TechyJobsLogo">
            <img src="~/TechyJobsLogoWhite.png" href="~/TechyJobsLogo">
        </div>
        @*<h1 class="display-4">Techy Jobs</h1>*@
        <p class="techyJobsIntroLine">Your personal career progress tracker</p>
        <p class="techyJobsIntroLink"><a href="https://localhost:5001/Jobs">Lets get started ! </a></p>
    </div>
</body>